
.bs-docs-sidebar .nav > .active:focus > a, 
.bs-docs-sidebar .nav > .active:hover > a {color:#0e518d; border-color:#0e518d}
.bs-docs-sidebar .nav > .active > a {color:#0055CC; border-color:#0055CC}


.bs-docs-sidebar .nav > li {padding:2px 0 2px}
.bs-docs-sidebar .nav > li > a {padding: 4px 5px 4px 13px}
.bs-docs-sidebar .nav > li > a {font-size:15px; line-height:1.1}
.bs-docs-sidebar .nav > li > a:focus, 
.bs-docs-sidebar .nav > li > a:hover {color:#0055CC; border-color:#0055CC}

/* Отступ слева для первого уровня*/
.bs-docs-sidebar .nav > li > a:hover {padding-left:13px}
.bs-docs-sidebar .nav > li > a:focus,
.bs-docs-sidebar .nav > li > a:hover {padding-left:12px}
.bs-docs-sidebar .nav > .active:focus > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active > a {padding-left:11px}

.bs-docs-sidebar .nav > li > ul > li {padding:2px 0 2px}
.bs-docs-sidebar .nav > li > ul > li > a {font-size:14px !important; line-height:1.2}
.bs-docs-sidebar .nav > li > ul > li > a::first-letter {font-weight: bold}

.bs-docs-sidebar .nav > .active:focus > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active > a {font-weight: 500}


.bs-docs-sidebar .nav .nav {padding-bottom:0}

/* Отступ слева для второго уровня*/
.bs-docs-sidebar .nav .nav > li > a {padding-left:29px}
.bs-docs-sidebar .nav .nav > li > a:focus,
.bs-docs-sidebar .nav .nav > li > a:hover{padding-left:28px}
.bs-docs-sidebar .nav .nav > .active:focus > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active > a{padding-left:27px}



.bs-docs-sidebar.affix .bs-docs-sidenav,
.bs-docs-sidebar.affix-bottom .bs-docs-sidenav {margin-top:20px; margin-bottom:20px}

@media (min-width:992px){.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{width:293px}}
@media (min-width:1200px){.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{width:360px}}

/*************************** Cusmomize ***********************************/

.bs-docs-sidebar .nav > .active:focus > a, 
.bs-docs-sidebar .nav > .active:hover > a, 
.bs-docs-sidebar .nav > .active > a {
    color: red;
    border-left: 2px solid red;
}

.bs-docs-sidebar .nav > li > a {color: #333}
.bs-docs-sidebar .nav > li > a:hover {color:red; border-color:red}

