
.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*---------------------------------------
   SECTION:  TESTIMONIALS                 
-----------------------------------------*/

.testimonials {
    background: url(../xfiles/bg-2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
            background-size: cover;
    color: #ffffff;
}

.testimonials .color-overlay {
    padding-top: 110px;
    padding-bottom: 110px;
}

.testimonials .feedback {
    max-width: 750px;
    margin: auto;
}

.testimonials .feedback .image {
    font-size: 24px;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
            box-shadow: 0px 0px 0px 2px #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.testimonials .feedback .image img {
    width: 100%;
    vertical-align: top;
}


.testimonials .feedback .message {
    font-size: 18px;
    font-style: italic;
    margin-top: 32px;
    margin-bottom: 18px;
    padding: 22px 22px 22px;
    background: url(images/bg-black-50.png);
}

.testimonials .feedback .name {
    /*margin-top: 15px;*/
    font-weight: 400;
}

.testimonials .feedback .company-info {
    font-size: 12px;
}

.testimonials .feedback .company-info a {background: url(images/bg-black-50.png); color:#fff; padding: 3px 16px 7px}


.testimonials .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}