/* FOR metis-vertical-hover USE .selected NOT .active */
.nav-nav {background-color:#212529}
.nav-nav ul {padding:0; margin:0; list-style:none; background-color:#212529}
.nav-nav .metismenu {display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column}
.nav-nav .metismenu > li {-webkit-box-flex:1; -ms-flex:1 1 0%; flex:1 1 0%; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; position:relative}
.nav-nav .metismenu a {position:relative; display:block; padding:15px; color:#adb5bd; outline-width:0; transition:all .3s ease-out}
.nav-nav .metismenu a:hover,
.nav-nav .metismenu a:focus, 
.nav-nav .metismenu a:active {color:#f8f9fa; text-decoration:none; background-color:rgba(0,0,0,0.3)}
@media (min-width:992px) {
.nav-nav .metismenu li {position:relative}
.nav-nav .metismenu > li > ul {position:absolute; left:100%; top:0; min-width:200px; z-index:1001}
.nav-nav .metismenu > li:hover > ul {height:auto !important}
.nav-nav .metismenu > li:hover > ul,
.nav-nav .metismenu > li:hover > ul.collapse {display:block}
.nav-nav .metismenu > li:hover > a.has-arrow:after {transform:rotate(135deg)}
}
/***********************************************************/
.nav-nav .metismenu li.selected > a {color:#f8f9fa; text-decoration:none; background-color:rgba(0,0,0,0.3)}

/* Вылеташки - на всю ширину */
@media (min-width: 992px) {
.nav-nav .metismenu > li ul a {white-space:nowrap}
}
/* left border for rolled down ul */
.nav-nav .metismenu ul li {border-left: 6px solid transparent}
.nav-nav .metismenu ul li.active {border-left: 6px solid rgba(0,0,0,0.3)}
.nav-nav .metismenu ul ul li {border-left:0}
/* adjust item's height */
.nav-nav .metismenu a {padding:10px 15px; color:#ddd} /*#adb5bd*/
.nav-nav .metismenu li:first-child > a {padding:20px 15px 10px 15px;}
.nav-nav .metismenu li:first-child > a.has-arrow:after {top:64%}
.nav-nav .metismenu li:last-child > a {padding:10px 15px 20px 15px;}
.nav-nav .metismenu li:last-child > a.has-arrow:after {top:41%}
