/*** Все уровни ***/

.treemenu ul {list-style-type: none; margin: 0px 0px 0px 44px; padding:0px 0px 0px 0px; background: url(tree/tree-ul.gif) left center repeat-y;}
.treemenu > ul {margin-left:0}
.treemenu li {line-height:15px; padding: 3px 0px 0px 0px; white-space:nowrap}
.treemenu li:last-child {background:#fff url(tree/tree-last-li.gif) no-repeat top left;}
.treemenu .tree-item-indent {background: url(tree/tree-item-indent.gif) no-repeat left center; text-decoration: none; display:inline-block; width:42px}
.treemenu li.active > a {color:#009846}
.treemenu .badge {background-color:#999; font-size: 10px; font-weight:normal; padding: 3px 5px;}

.nav-nav-hidden {opacity:0.5}