/*** Все уровни ***/
.nav-nav {position:relative}
.nav-nav {border-radius:4px; background-color: rgba(0,0,0,0.05); border:solid 1px rgba(0,0,0,0.1)}
.nav-nav li a {text-decoration:none; color:rgba(0,0,0,0.7)}
.nav-nav ul {list-style: none; margin: 9px 0px 9px; padding-left: 0}
.nav-nav li {padding:3px 10px 3px 29px; text-indent:-14px; }/*line-height:22px;*/
.nav-nav li:before {font:13px FontAwesome; content:"\f138"; padding-right:5px; position:relative; top:-1px; color:rgba(0,0,0,0.7); opacity:0.9}
.nav-nav > h4 {border-bottom:solid 1px rgba(0,0,0,0.3);  margin:11px 0px 0px; padding:0 0 8px 15px}/*; opacity:0.8*/
.nav-nav li:hover a {cursor:pointer}
/*** Уровень 1 ***/
.nav-nav > ul > li:hover:before {color:#fff}
.nav-nav > ul > li:hover a {color:#fff}
.nav-nav > ul > li.active:hover {background:transparent}
.nav-nav > ul > li.active:hover a {color:rgba(0,0,0,0.7)}
/*** Уровень 2 и 3 ***/
.nav-nav > ul ul {margin:4px 0px 0px -11px; padding-left: 0px}
.nav-nav > ul ul > li:before {content:"\f111"; font-size:9px; opacity:0.7}
.nav-nav > ul ul > li:hover:before {color:#fff}
.nav-nav > ul ul > li.active:hover {background:transparent}
.nav-nav > ul ul > li.active:hover > a {color:rgba(0,0,0,0.7) !important}
.nav-nav > ul ul > li:hover > a {color:#fff !important}

/*
При данной схеме стилей дерево работает только при открытии веток по одному (режим SII),
т.к. из стилей убраны жесткая привязка номеров уровней классам (как было ранее)
Если нужно сразу иметь открытые ветки (режим SSI или SSS), то придется переделывать классы
*/


/* Стилизация */
.nav-nav ul > li {font-size:16px}
.nav-nav ul ul li a {font-size:14px}
/*** Уровень 1 ***/
.nav-nav > ul > li:hover {background:#2f6bad}
.nav-nav > ul > li.active:before {color:#f2501e}
.nav-nav li.active > a {color:#f2501e}
/*** Уровень 2 и 3 ***/
.nav-nav > ul ul > li:hover {background:#2f6bad}
.nav-nav > ul ul > li.active:before {color:#f2501e}

